apiVersion: v1
kind: Service
metadata:
  name: api-server
  namespace: planespotter
  labels:
    app: api-server
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    name: http
  selector:
    app: api-server
